@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@99.1,494&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

:root{
    --cp: #F8B600; 
    --co: #0A0A0A;
}

html{
    scroll-behavior: smooth;
    font-size: 23px;
}

body{
    background-image: url("imgs/bg.jpg");
    background-position:center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
    transition: 1s;
}



.supermenu {
    //background-color: dimgrey;
    padding-left: 7%;
    padding-right: 7%;
    top: 15px;
    margin-left: 0px;
    margin-top: 1vw;
    margin-right: 0px;
}

.menu{
    //background-color: black;
    padding: 1%;
    border-left: 2%;
    border-right: 2%;
    font-size:25px;
    top: 0px;
    overflow: hidden;
    align-items: center;
}
#logolink {
    background-image: url("imgs/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    //background-color: aqua;
    height: 10vw;
    width: 10vw;
    align-content:center;
    display: block;
    margin-left: 0px;;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 0px;
    transition: 0.1s;
}

#logolink:hover{
    background-image: url("imgs/logoon.png");
}

.btnin{
    font-size: 1.5vw;
    font-family: 'Fredoka', sans-serif;
    font-weight: 1000;
    float: right;
    text-align: center;
    text-decoration:none;
    padding: 0.8%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: var(--co);
    color: var(--cp);
    border-radius: 1000px;
    border-color: var(--cp);
    border-style:solid;
    border-width: 0.2vw;
    margin: 0.7%;
    margin-bottom: 3.2%;
    margin-top: 3.2%;
    box-shadow: 0px 0px 1vw 0.1vw var(--cp);
    transition: 0.2s;
}

.btnin:hover{
    box-shadow: 0px 0px 1vw 0.5vw var(--cp);
    color: var(--co);
    background-color: var(--cp);
    border-color: var(--cp);
    font-size: 2vw;
    margin-top: 2.9%;
}

#TituloPag{
	font-family: 'Fredoka', sans-serif;
	font-size: 6vw;
	text-align: center;
	color: #fff;
    margin-top: 0px;
    text-shadow: 0 0 1vw black, 0 0 1vw black , 0 0 1vw black;
}
.cuerpo{
    background-color: rgba(220, 220, 220, 0.9);
    color:black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.3vw;
	margin-bottom: 5%;
    border-radius: 2vw;
    //border-width: 0.5vw;
    //border-style: solid;
    //border-color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    box-shadow: 0px 0px 3vw 2vw rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.cuerpo h1{
	font-family: 'Varela Round', sans-serif;
	font-size: 33px;
}

.cuerpo p{
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	padding-left: 3%;
	padding-right: 3%;
}

.cuerpo ol{
    font-size: 1rem;
	font-family: 'Raleway', sans-serif;
    margin-left: 3%;
}


.cuerpo div{
    margin-bottom: 3vw;
}

.cuerpo a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 3px var(--cp), 0 0 3px var(--cp), 0 0 3px var(--cp), 0 0 5px var(--cp);
}

.resaltar{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 3px var(--cp), 0 0 3px var(--cp), 0 0 3px var(--cp), 0 0 5px var(--cp);
}

.contenedorvid{
    align-self: center;
    align-items: center;
    height: 585px;
    width: 1040px;
    max-height: 45vw;
    max-width: 80vw;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.vid{
    display: block;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 1vw 1vw rgba(0, 0, 0, 0.7);
    border-radius: 1vw;
    margin-bottom: 0px;
}

#pie{
    font-size: 1rem;
    text-align: center;
    margin-top: 6px;
    font-weight: 800;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 3px black , 0 0 3px black;
}

.imagen{
    display: block;
    box-shadow: 0px 0px 0.5vw 0.5vw rgba(0, 0, 0, 0.7);
    margin: 2vw;
    margin-left: auto;
    margin-right: auto;
    height: 100vw;
    max-height: 500px;
    border-radius: 20px;
}

.centrar{
    margin-left: auto;
    margin-right: auto;
}

.tabla{
    border-collapse: separate;
    border-spacing: 20px 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.86rem;
}

.tabla th{
    text-align: center;
    background-color: var(--co);
    color: var(--cp);
    font-family: 'Quicksand', sans-serif;
}

.tabla caption{
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.tabla td{
    background-color: rgba(240, 240, 240, 0.8);
    font-family: 'Raleway', sans-serif;
}

.tabla th, .tabla td{
    border: 2px solid var(--cp);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
    padding: 3px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.agrupar{
    padding: 1%;
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(240, 240, 240, 0.8);
    padding-left: 2%;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 0.5vw 0.5vw rgba(0, 0, 0, 0.4);
    margin-left: 3%;
    margin-right:auto;
    margin-bottom: 1.8%;
    margin-top: 1%;
    font-size: 26px;
    border-radius: 1vw;
    width:fit-content;
    padding-right: 2%;
    margin-bottom: 2vw;
}

#contagrupar{
    margin-bottom: -1.3vw;
}

.agrupado{
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
    margin-left: 6%;
    margin-right: 3%;
}

@media(orientation: portrait){
    .cuerpo h1{
	font-size: 0.8em;
    }
    .cuerpo p{
        font-size: 0.8em;
    }
    .cuerpo ol{
        font-size: 0.8em;
    }
    .tabla{
        max-width: 2vw;
        font-size: 0.6em;
    }
    .tabla caption{
        font-size: 1em;
    }
    .agrupar{
        font-size: 0.8em;
    }
    .agrupado{
        font-size: 0.8em;
    }
    .btnin{
        font-size: 1.3vw;
    }
    .btnin:hover{
        font-size: 1.8vw;
    }
}

.mano{
    display: block;
    position: relative;
    border-radius: 1vw;
}